# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
numpy==2.2.2
apache-airflow-providers-common-io==1.5.2
apache-airflow-providers-amazon[s3fs]==9.5.0rc2
geopy==2.4.1
apache-airflow-providers-openai==1.4.0
# ToDo: Add git provider once released
chardet